/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.logo {
  color: #434b54;
  margin-top: 25vh;
}

.btn-login {
  background-color: #3778c2;
  color: #fff;
  padding: 8px;
  text-align: center;
  margin-bottom: 4px;
}

.btn-login:hover {
  background-color: #2a5e9b;
  color: #fff;
}

.btn-logout {
  background-color: #fff;
  color: #3778c2;
  padding: 8px;
  text-align: center;
}

.btn-logout:hover {
  border: 1px solid #3778c2;
}

.btn-logs {
  margin-top: 25vh;
}

.navibar {
  background-color: #3778c2;
  color: #fff;
}

.finapp {
  font-size: 22px;
  cursor: pointer;
}

.icon-img {
  height: 150px;
  width: 250px;
}
